In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import pearsonr

In [2]:
df = pd.read_csv('case_study_data.csv')

In [3]:
df = df[np.isnan(df['hotel_feature_1']) != True]
df = df[np.isnan(df['hotel_feature_2']) != True]

In [4]:
df.head()

,search_date,arrival,departure,num_adults,num_children,search_id,hotel_id,hotel_price,is_promo,hotel_feature_1,hotel_feature_2,hotel_feature_3,hotel_feature_4,hotel_feature_5,booked
0,25,457,471,3,2,0,517,1724.38,0,64.490309,85.0,7,0,0,0
1,25,457,471,3,2,0,517,1724.38,0,64.490309,85.0,7,0,0,0
2,25,457,471,3,2,0,29771,1905.54,1,25.826343,52.0,13,1,1,0
3,25,458,463,2,0,1,517,2077.95,0,64.490309,85.0,9,0,0,0
4,25,458,463,2,0,1,40744,6822.10,0,24.959968,52.0,11,1,2,0

In [8]:
df[df['search_id'] == 88]

,search_date,arrival,departure,num_adults,num_children,search_id,hotel_id,hotel_price,is_promo,hotel_feature_1,hotel_feature_2,hotel_feature_3,hotel_feature_4,hotel_feature_5,booked
1148,19,74,82,3,2,88,517,692.44,1,64.490309,85.0,28,0,0,0
1149,19,74,82,3,2,88,3314,895.38,0,79.120162,95.0,12,0,0,0
1150,19,74,82,3,2,88,3314,895.38,0,79.120162,95.0,12,0,0,0
1151,19,74,82,3,2,88,41690,1075.79,0,47.328638,95.0,81,7,4,0
1152,19,74,82,3,2,88,41690,1075.79,0,47.328638,95.0,81,7,4,0
1153,19,74,82,3,2,88,15696,1041.28,1,133.652535,66.0,83,2,1,0
1154,19,74,82,3,2,88,42024,1063.34,0,12.328828,52.0,93,7,4,1

In [32]:
num_searches = df.groupby('search_id', as_index=True).agg({
        'search_id': 'count' ,'booked': max}).rename(columns={
        'search_id':'num_searches'}).reset_index()

In [34]:
num_searches[num_searches['booked'] == 1].head()

     search_id  booked  num_searches
88          88       1             7
118        118       1             8
136        136       1             2
188        188       1            19
216        216       1             6

#

In [43]:
print "Booked: " + str(np.mean(num_searches['num_searches'][num_searches['booked'] == 1]))
print "Booked: " + str(np.std(num_searches['num_searches'][num_searches['booked'] == 1]))
print "Not Booked: " + str(np.mean(num_searches['num_searches'][num_searches['booked'] == 0]))
print "Not Booked: " + str(np.std(num_searches['num_searches'][num_searches['booked'] == 0]))

Booked: 3.35714285714
Booked: 4.15429455688
Not Booked: 2.87032224532
Not Booked: 5.85619620503

In [49]:
##^ Perform a Z Test on the Above

## Chi Squared to Prove that Having a Promo Code Leads to a Greater Chance of Booking

In [48]:
num_booked = len(df[df['booked'] == 1])
num_not_booked = len(df[df['booked'] == 0])
num_promo_booked = len(df[(df['booked'] == 1) & (df['is_promo'] == 1)]) 
num_not_booked_is_promo = len(df[(df['booked'] == 0) & (df['is_promo'] == 1)]) 

print "Promoed in the booked population: " + str((num_promo_booked) / float(num_booked))
print "Promoed in the not booked population: " + str(num_not_booked_is_promo / float(num_not_booked))

Promoed in the booked population: 0.642140468227
Promoed in the not booked population: 0.51286227438

In [51]:
##^ Perform Chi Squared Test On Above
obs = np.array([[num_booked-num_promo_booked, num_promo_booked], [num_not_booked-num_not_booked_is_promo, num_not_booked_is_promo]])
chi2, p, dof, expected = stats.chi2_contingency(obs)
print str(chi2) + "   " +  str(p) + "   " +  str(dof) + "   " +  str(expected)

19.3569372688   1.08424636409e-05   1   [[   145.39802748    153.60197252]
 [ 21795.60197252  23025.39802748]]